.box { 
	background:#f0f0f0; 
	margin-bottom: 15px;
	width : 300px;
}
.box-all { 
	padding: 15px; 
}
.box h2 { 
	font: bold 14px/16px Arial; 
	letter-spacing: -1px; 
	color:#51565b;
	margin-bottom: 0px;
}
.box legend { 
	font: bold 17px/19px Arial; 
	letter-spacing: -1px;
}
.closeDiv {
	float: right;
	position : relative;
	top : -0.2em;
	right : 0.2em;
}

.closeBox{
	cursor: pointer;
}

.boxSlider { 
	color:#666;
	width: 100%;
	clear: both;
	bottom: 0;
	right: 0;
}

.boxSlider h2 { 
	border-bottom: 1px solid #dcdcdc;
	padding: 0 0 5px 0px;
}

.boxSlider-int{
	border-top: 1px solid #fff; 
	padding-top: 5px;
}

.closeButton{
	background-image: url('../images/close-16.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-right:16px;
	padding-bottom : 16px;
}

.openButton{
	background-image: url('../images/open-16.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-right:16px;
	padding-bottom : 16px;
}